<%- include header %>
<section class="home">
	<div class="container">
<!--title start-->
		<div class="row">
			<div class="col-md-8 text-center inner">
			<h1 class="white">MAKING NOTE</h1>
			<h2 class="white">YOUR LIFE & MY FEELING</h2>
			</div>
		</div>
<!--title end-->
<!--login/register start-->
		<div class="row">
			<div class="col-md-6 text-center login-register">
				<a href="/login_register" class="login-register-btn">Login/Register</a>
			</div>
		</div>
<!--login/register end-->
	</div>
</section>
<%- include footer %>
